/* Matterhorn Repository */

/*import Lato Font*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.clear {
  clear: both;
}

.show {
  display:block !important;
}

html {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif!important;
  height: 100%;
}

body {
  /*background: url("img/circle.png") no-repeat 50% 0;*/
  height: 100%;
}

h1, h2 {
  letter-spacing: 0px;
  font-weight:400;
  font-style: normal;
  font-size: 228.5%;
}

h3, h4 {
  letter-spacing: 0px;
  font-weight:400;
  font-style: normal;
  font-size: 150.5%;
}

h5 {
  margin:20px 0px;
  font-size: 110.5%;
}

ul li span {
	display: inline-block;
	min-width: 175px;
}

a {
  color: #47b07b;
  text-decoration:none;
}

p {
  margin:30px 0px;
}

pre {
	overflow-x : auto;
}

table {
  /*width: auto!important;*/
}

ul {
  list-style: none;
}

.new-users h4 {
  margin-bottom: 20px;
}

.new-users input[type="radio"] {
  display: none;
}

.new-users input[type="radio"]:checked+label {
  color:#47b07b;
  font-weight: bold;
}

.new-users label:focus {
  color:#47b07b;
}

.newusercount {
  background-color: #26455E;
  color:#fff;
  padding:1px 6px;
  border-radius: 5px;
}

.actions label {
  margin-right: 20px;
  cursor: pointer;
  font-size: 21px;
}

.userinfoline label {
  font-weight: 700;
}

.new-users-table {
  background-color: rgba(255,255,255,0)!important;
}

.new-users-table td {
  padding: 0px!important;
}

.new-users-table label {
  font-weight: 700;
}

.delete-button-new {
  padding:3px;
  background-color: #e74c3c;
  width:102px;
  color:#fff;
  text-align: center;
}

.delete-button {
  background-color: rgba(255,255,255,0);
  font-size:16px;
}

.delete-button:hover {
  color:#C82647;
  cursor: pointer;
}

.admin-button {
  width: 127px;
  background-color: #24425d;
  margin-right: 0px!important;
}

.user-button {
  width: 119px;
  background-color: #24425d;
}



.header {
  width: 600px;
  margin: 0px auto 0px;
}

.header img {
  padding-right: 5px;
}

.header h1 {
  font-weight: normal;
  color: #ffffff;
  padding-top: 20px;
}

h1 a {
  color: #ffffff;
  text-decoration: none;
}

.dark {
  background-color: #F3F5F7;
}


/*.light {
  background-color: #ffffff!important;
}*/

.wrapper {
  padding:80px 0px 80px 0px;
}

.wrapper-inner {
  width:1200px;
  margin:0px auto;
}

.wrapper-inner img {
  margin-bottom: 20px;
}

.sign-up-box {
  display:none;
  z-index: 200;
  position:absolute;
  left:50%;
  margin-left:-250px!important;
}

.menu a {
  color:#24435D;
}

.menu-box {
  color:#000000;
  font-size: 16px;
  float:left;
  padding:27px 0px;
  text-align: center;
  cursor: pointer;
  width:110px;
  border-bottom: 3px solid #e2e2e2;
}

.menu-box:hover {
   border-bottom:3px solid #47b07b;
}

.menu-box i {
  font-size:34px;
}

.menu-box a {
  color:#000000;
  text-decoration:none;
}

.search-box {
  float:left;
  margin-left:655px;
  border-bottom: 3px solid #e2e2e2;
}

.search {
  background-color: transparent;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-radius: 0px;
  height:58px;
  color:#000000;
  padding-left:8px;
  font-size:16px;
}

.search-box:hover, .search-box:focus {
  border-bottom: 3px solid #47b07b;
}

.active  {
  border-bottom:3px solid #47b07b!important;
}

.dashboard-header {
   background-color: #e2e2e2;
   border-radius: 4px 4px 0px 0px;
}

.linux-versions {
  width: 300px;
  text-align: center;
  padding: 20px 0px;
  float: left;
}

.versions {
  margin-top:50px;
}

.refresh {
  width: 30px;
  height: 30px;
  float: right;
  display: block;
}

.refresh:active {
  position: relative;
  top: 1px;
}

.switchview-container {
}

.switchview {
  font-size: 16px;
  display: block;
  text-decoration: none;
  float: left;
  margin: 14px 6px 0px 0px;
  width: 120px;
  text-align: center;
  color: #333333;
  padding: 4px 0px;
  background: #ededed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eaeaea',GradientType=0 );
  border-radius: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  border: 1px solid #333333;
}

.switchview:active {
	position: relative;
	top: 1px;
}

.switchview-active {
  box-shadow: 0px 0px 10px rgba(255, 178, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-color: #FFB200;
}

.registered_users {
	float: right;
}

.box {
  background: #f2f2f2;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eaeaea',GradientType=0 );
  width: 450px;
  margin: 60px auto;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  perspective: 1500;
}


.navigation a {
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  display: block;
  width: 174px;
  text-align: center;
  padding: 18px 0px;
}

.login-link {
  float: left;
}

.signup-link {
  float: right;
}

.login-inactive {
  background-color: #cfcfcf;
  color: #999999;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.15);
  text-shadow: 0px 1px 0px #ffffff;
  -moz-text-shadow: 0px 1px 0px #ffffff;
  -webkit-text-shadow: 0px 1px 0px #ffffff;
  -o-text-shadow: 0px 1px 0px #ffffff;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  width: 174px;
  float: left;
}

.signup-inactive {
  background-color: #cfcfcf;
  color: #999999;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: inset 3px -3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 3px -3px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 3px -3px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 3px -3px 5px rgba(0, 0, 0, 0.15);
  text-shadow: 0px 1px 0px #ffffff;
  -moz-text-shadow: 0px 1px 0px #ffffff;
  -webkit-text-shadow: 0px 1px 0px #ffffff;
  -o-text-shadow: 0px 1px 0px #ffffff;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
}

/* ########## BUTTON ########## */

.button {
  background-color: #24425d;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	color:#ffffff;
	font-size:20px;
	font-weight:normal;
	padding:9px 0px;
	text-decoration:none;
  transition: all 0.6s;
}

.button:hover {
  background-color: #152842;
	cursor: pointer;
  transition: all 0.6s;
}

.button:active {
	position:relative;
	top:1px;
}

.button-grey {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family: 'Electrolize', Arial, sans-serif;
	font-size:20px;
	font-weight:normal;
	padding:9px 0px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.button-grey:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.button-grey:active {
	position:relative;
	top:1px;
}

/* ########## GENERAL TEXT FIELDS SETTINGS ########## */

.text-wrapper {
  padding: 40px 40px 20px;
  min-height: 240px;
}

.text-wrapper img {
  margin-bottom: 50px;
}

.field-space {
  margin-top: 15px;
}

.field-space-right {
  float: left;
  width:90%;
}

.field-space-left {
  float: left;
  width:10%;
}

input {
  width: 250px;
  padding: 8px;
  margin-top: 5px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
}

input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 0 20px 0 50px;
  outline: none;
}

input#username {
    background: #fff url('/static/img/user.png') 20px top no-repeat;
    background-size: 16px 80px;
}

input#username:focus {
    background: #fff url('/static/img/user.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

input#password {
    background: #fff url('/static/img/lock.png') 20px top no-repeat;
    background-size: 16px 80px;
}

input#password:focus {
    background: #fff url('/static/img/lock.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

select {
  width: 104px;
  margin-left: -2px;
  padding:10px 0px;
  margin-top: 20px;
  height:23px;
}


.userinfo input, .userinfo select {
	width: 240px;
	font-size: smaller;
}

input:focus {
  border-color: #47B07B;
}

.nav {
  width: 100%;
}

.nav-wrapper {
  width:1200px;
  margin:0px auto;
}

.nav-wrapper img {
  height:43px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu {
  float: right;
}

.menu a {
  text-decoration: none;
}

.menu div {
  float: right;
  height:73px;
  width:110px;
  text-align: center;
  line-height: 62px;
  border-top: 3px solid #ffffff;
  cursor: pointer;
}

.menu div:hover {
  border-top: 3px solid #47b07b;
}

.banner {
  background-image: url("img/software.jpg");
  color:#fff;
  text-align: center;
  padding: 96px;
}

.banner div {
  font-size: 46px;
  margin:20px 0;
}

.banner p {
  width:650px;
  margin: 0px auto;
}

.userinfoline {
  padding-left: 2px;
}


/* ########## LOGIN TEXT FIELDS ########## */

.login-button {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding:10px;
  height: 47px;
}

.signup-button {
  margin-top: 45px;
  width: 270px;
  text-align: center;
  margin-left: 183px;
  text-decoration: none;
}

.forgot a {
  color: #023160;
  font-size: 12px;
}

.forgot-card {
  background-color: #ffffff;
  color: #000;
  width:450px;
  height:365px;
  border-radius: 6px;
  z-index: 100;
  display: none;
}

.forgot-card input {
  background-color: rgba(255,255,255,0);
  padding-left: 8px!important;

}

.forgot-card input:focus {
  border-color: #47B07B;
}

.forgot-card-header {
  background-color: #f5f5f5;
  box-shadow:0 1px 0 rgba(0, 0, 0, 0.14);
  padding: 20px 15px;
  border-radius: 6px 6px 0px 0px;
}

.forgot-card-header span {
  color: #000;
  opacity: 0.4;
  font-size: 26px;
  cursor: pointer;
}

.forgot-card p {
  margin:10px 0px;
}

.forgot-button {
  cursor: pointer;
  font-size: 14px!important;
}

.black-overlay {
  background: #000000;
  opacity: 0.8;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 99;
  display:none;
}

.button-recover {
  background-color: #24425d!important;
  color:#fff;
  cursor: pointer;
}

/* ########## SIGNUP FORM ########## */

#signup-form {
  width: 700px;
  padding-bottom: 3px;
}

#signup-form input {
  font-size: 16px;
  padding: 6px;
}

#signup-form label {
  display: block;
  float: left;
  width: 92px;
  text-align: right;
  padding: 8px;
}

.captcha label {
	width: auto !important;
}

.captcha input {
	width: 50px !important;
	margin: 0px !important;
}

#signup-form .button {
  width: 100px;
}

.signup-form-left {
  float: left;
  width: 380px;
}

.signup-form-right {
  float:right;
  width: 260px;
}

.signup-form-right input {
  width: 50px;
}

.signup-buttons {
  float: right;
  width: 250px;
  margin-top: -140px;
  font-size: 14px;
}

.agree {
  padding-bottom: 10px;
}

.agreebox {
  width: 40px;
}

.close-button {
  width: 100px;
}

.answer {
  padding-top: 8px;
}

.answer select {
  /*padding: 6px;*/
  /*margin-left: 20px;*/
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  font-family: 'Electrolize', Arial, sans-serif;
}

.answer label {
  margin-top: 10px;
}

.question-container {
  margin-top: 25px;
}

/* ########## ADMIN ########## */

.container {
  width: 600px;
  background: #f2f2f2;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%,#eaeaea 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eaeaea',GradientType=0 );
  margin: 35px auto 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px 4px 4px 4px;
}

.login-container {
  padding-bottom: 20px;
}

.element {
  padding: 15px 10px;
  /*border-bottom: 1px solid #ccc;*/
}

.name {
  font-weight: 700;
}

.icon-container {
  text-align: right;
}

.column1 {
	width: 50px;
}

.column2 {
	width: 160px;
}

.column3 {
	width: 320px;
}

.column4 {
	width: 50px;
}

.icon {
  display: block;
  padding: 10px 20px;
  float: right;
}

.no-icon {
  background: url(img/no.png) no-repeat right center;
  margin-right: 5px;
}

.more-button {
  display: block;
  float: left;
  padding: 1px 6px;
  background: #ededed;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#e0e0e0));
  background: -webkit-linear-gradient(top, #ededed 0%,#e0e0e0 100%);
  background: -o-linear-gradient(top, #ededed 0%,#e0e0e0 100%);
  background: -ms-linear-gradient(top, #ededed 0%,#e0e0e0 100%);
  background: linear-gradient(to bottom, #ededed 0%,#e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e0e0e0',GradientType=0 );
  border: 1px solid #999;
  border-radius: 3px;
}

.more-button:hover {
  cursor: pointer;
}

.more-button:active {
  position: relative;
  top: 1px;
}

.radio {
  width: 30px;
}

.radio input {
  height: 11px;
}

.userinfo {
  padding: 20px 40px 10px;
}

.userinfo span {
  display: block;
}

.userinfo label {
  width: 115px;
  display: inline-block;
}

.userstatistics {
  margin-top: 55px;
}

.admintip {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  padding: 3px 20px;
  text-align: center;
}

.admintip a {
  color: #FFB200;
  text-decoration: none;
  padding-left: 30px;
}

.submitbutton {
  /*border-top: 1px solid #182A41;*/
}

.submitbutton input {
  width: 600px;
  margin-top: 0px;
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #ffffff;
  background: rgb(90,159,244);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVhOWZmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDcxYWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(90,159,244,1) 0%, rgba(64,113,173,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,159,244,1)), color-stop(100%,rgba(64,113,173,1)));
  background: -webkit-linear-gradient(top, rgba(90,159,244,1) 0%,rgba(64,113,173,1) 100%);
  background: -o-linear-gradient(top, rgba(90,159,244,1) 0%,rgba(64,113,173,1) 100%);
  background: -ms-linear-gradient(top, rgba(90,159,244,1) 0%,rgba(64,113,173,1) 100%);
  background: linear-gradient(to bottom, rgba(90,159,244,1) 0%,rgba(64,113,173,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a9ff4', endColorstr='#4071ad',GradientType=0 );
}

.submitbutton input:hover {
  cursor: pointer;
}

/* ########## LOGIN ########## */

.repocontent {
  padding: 20px 20px 20px 0px;
  color:#111111;
  background-color: #e2e2e2;
  margin-bottom:90px;
}

.repodescription {
  padding: 20px 40px 10px;
}

.loginlabel {
  display: block;
}

.loginform {
  margin-top: -10px;
}

.admin-selector label {
	border: 1px solid silver;
	padding: 3px;
	margin-right: 5px;
}

.useraction {
	margin-top: 10px;
}

/* SIGN-UP PAGE */

#signup-page input {
  font-size: 16px;
  padding: 6px;
  padding-left:10px;
}

#signup-page label {
  /*display: inline-block;*/
  min-width: 92px;
  text-align: right;
}

#signup-page input[type=radio], #signup-page input[type=checkbox] {
	width: auto;
}

#signup-page label.radio {
	min-width: 50px;
}

#signup-page .answer {
}

#signup-page .answer {
	display: none;
}

#signup-page .button {
	width: 100%;
	margin-bottom: 15px;
}

#signup-page .field-space {
  margin-top: 8px;
}

/*Bootstrap Table CSS*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #F3F5F7!important;
  color:#474747;
}
td,
th {
  padding: 20px 8px!important;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  /*border-top: 1px solid #dddddd;*/
}
.table > thead > tr > th {
  vertical-align: bottom;
  /*border-bottom: 2px solid #dddddd;*/
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  /*border-top: 2px solid #dddddd;*/
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  /*border: 1px solid #dddddd;*/
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  /*border: 1px solid #dddddd;*/
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #FFFFFF;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
