{% extends "admin.html" %}
{% block adminbody %}
<div class="wrapper" style="padding:0px!important;">
	<div class="wrapper-inner" style="background-color:#FFFFFF;padding:50px 0px;margin-bottom:50px;">

		<table class="table table-bordered table-striped">
			<tr>
				<th>Username</th>
				<th>Name</th>
				<th>E-Mail</th>
				<th>Status</th>
				<th>City</th>
				<th>Organization</th>
				<th>How did you learn…</th>
				<th>(Planned) usage</th>
				<th>Actions</th>
			</tr>

			{% for u in user %}

			<tr class="element {{ 'admin' if u.admin else ( 'user' if u.access else '' ) }}" >
				<td>{{ u.username }}</td>
				<td class=name>{{ u.firstname }} {{ u.lastname }}</td>
				<td class=email>{{ u.email }}</td>
				<td>{{ ['Disabled','User','Admin'][u.admin + u.access] }}</td>
				<td>{{ u.city }} ({{ u.country }})</td>
				<td class=org>{{ u.organization }}
					{% if u.department %}
					<span title=Department>({{ u.department }})</span>
					{% endif %}</td>
				<td>{{ u.learned }}</td>
				<td>{{ u.usage }}</td>
				<td class="actions">
					<a href="#" onclick="deleteDialog('{{ u.username }}');"><span class='icon-color icon-trash' title='Delete User'></span></a>
				</td>
			</tr>

			{% endfor %}
		</table>

	</div>
</div>
{% endblock %}
