<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Recover password</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="header">
	<a href="{{ url_for('home') }}">
		<h1>
			<img src="{{ url_for('static', filename='img/logo.png') }}" />
			Matterhorn Repository      
		</h1>
	</a>
</div>
<div class="box">
	<div class="text-wrapper">
		<h2>Recover password</h2>      
		<div style="margin-top: 30px;">
			<p>Forgot your password? Please insert your username and email adress:</p>
			<form method="POST" action="{{ url_for('forgot') }}">
				<input type="email" name="email" placeholder="Email address…" /><br />
				<input style="width: 100%; text-align: center;" type="submit" class="button" />
			</form>
		</div>
		<!--
		<p style="margin-top: 30px;"><a href="{{ url_for('home') }}"
			style="width: 100%; text-align: center;" class="button">Go back</a></p>
		-->
	</div>

</div>
</body>

</html>
