{% extends "layout.html" %}
{% block body %}

<div class="box" style="min-width: 500px;">
	<div class="text-wrapper">
		<a href="{{ url_for('home') }}">
			<h1>
				<img src="{{ url_for('static', filename='img/logo.png') }}" />
			</h1>
		</a>

		<div id="terms-page" style="margin-top: 20px;">
			<h1>Impressum</h1>

			<p>
			Zentrum für Digitale Lehre, Campus-Management und Hochschuldidaktik
			(virtUOS)

			<p>
			Dr. Andreas Knaden, geschäftsführender Leiter<br />
			Universität Osnabrück<br />
			Heger-Tor-Wall 12<br />
			D-49074 Osnabrück

			<p>
			E-Mail: aknaden@uni-osnabrueck.de<br />
			URL: https://virtuos.uni-osnabrueck.de<br />
			Telefon: +49 541 969 6500<br />
			Fax: +49 541 969 1 6500

			<p>
			virtUOS ist eine zentrale Einrichtung der Universität Osnabrück

			<h3>Universität Osnabrück</h3>

			<p>
			Neuer Graben / Schloß<br />
			D-49074 Osnabrück<br />
			E-Mail: praesident@uni-osnabrueck.de<br />
			URL: https://uni-osnabrueck.de<br />
			Telefon: +49 541 969 4100<br />
			Fax: +49 541 969 4888
		</div>

	</div>
</div>
{% endblock %}
