<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>LogIn - Opencast Repository</title>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/fancybox/jquery.fancybox-1.3.4.css') }}" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fancybox/jquery.mousewheel-3.0.4.pack.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/slimScroll/slimScroll.min.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='simple-line-icons.css') }}" />
<!-- Data for country selection -->
<script src="{{ url_for('static', filename='js/countrySelect.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/countrySelect.css') }}">
<!-- FLIP -->

<script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.19/dist/jquery.flip.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {

	// CountryJS
	$("#country").countrySelect({'preferredCountries':['us','de','ch']});
	$("#country").countrySelect("setCountry", '');

	var isValid = function() {
		$(this).toggleClass('hascontent', $(this).val() != '');
	};
	$('#signup-page input').change(isValid);
	$('#signup-page input').keyup(isValid);
	$('#signup-page input').mouseup(isValid);

	// Center Login
	$(".main").css({
		'position' : 'absolute',
			'left' : '50%',
			'top' : '50%',
			'margin-left' : -$('.main').width()/2,
			'margin-top' : -$('.main').height()/2,
	});
	// Center Forgot-card
	$(".forgot-card").css({
		'position' : 'absolute',
			'left' : '50%',
			'top' : '50%',
			'margin-left' : -$('.main').width()/2,
			'margin-top' : -$('.main').height()/2,
	});

		$('.signup-link').click(function() {
			$('.signup-link').removeClass('signup-inactive');
			$('.login-link').addClass('login-inactive');
			$('.login-view').hide();
			$('.signup-view').fadeIn('slow');
			});

		$('.login-link').click(function() {
			$('.signup-link').addClass('signup-inactive');
			$('.login-link').removeClass('login-inactive');
			$('.login-view').fadeIn('slow');
			$('.signup-view').hide();
			});
		});

		function animateCard(x){
			var x = x;
			if (x == 0 ){
				$(".forgot-card").fadeIn();
				$(".black-overlay").fadeIn();
			}

			if (x == 1){
				$(".sign-up-box").fadeIn();
				$(".black-overlay").fadeIn();
			}

		}

		function animateCardOut(x){
			var x = x;
			if (x == 0){
				$(".forgot-card").fadeOut();
				$(".black-overlay").fadeOut();
			}
			 if (x == 1) {
				 $(".sign-up-box").fadeOut();
				 $(".black-overlay").fadeOut();
			 }
		}
</script>


</head>

<div id="page">
		<!-- Black Overlay -->
		<div class="black-overlay"></div>
		<div class="forgot-card">
			<div class="forgot-card-header">
				<img height="30px" src="{{ url_for('static', filename='img/logo.png') }}" />
				<img style="margin-left:155px;cursor:pointer;" height="30px" src="{{ url_for('static', filename='img/close.png') }}" onClick="animateCardOut(0)" />
			</div>

			<div class="text-wrapper">

				<h3>Recover Password</h3>

				<div style="margin-top: 10px;">
					<p>Please enter your email address to recover your password.</p>
					<form method="POST" action="{{ url_for('forgot') }}" style="margin-top:20px;">
						<input style="padding-left:11px!important" id="email" type="email" name="email" placeholder="email address" />
						<input style="width: 100%; text-align: center;" type="submit" class="button-recover" />
					</form>
				</div>
			</div>
		</div>

			<div class="box main">
				<!-- ########## LOGIN VIEW ########## -->
				<div class="login-view">
					<div class="text-wrapper">
						<a href="{{ url_for('home') }}">
							<h1>
								<img src="{{ url_for('static', filename='img/logo.png') }}" />
							</h1>
						</a>
						<form class="loginform" method="post" action="{{ url_for('home') }}">
							<input name="username" id="username" type="text" required="required" autofocus=autofocus  placeholder="Username" />
							<input name="password" id="password" type="password" required="required"  placeholder="Password"/>
							<input type="submit" class="button login-button" value="Login" />
							<div class="forgot">
								<a onClick="animateCard(0);">Forgot password?</a>
								<a onClick="animateCard(1);">Sign up now!</a>
							</div>
						</form>
					</div>
				</div>
		</div>

	</div>
		<!-- ########## SIGNUP VIEW ########## -->

	</div>

<!-- Sign Up -->
<div class="box sign-up-box" style="min-width: 500px;">
	<div class="forgot-card-header">
		<img height="30px" src="{{ url_for('static', filename='img/logo.png') }}" />
		<img style="margin-left:205px;cursor:pointer;" height="30px" src="{{ url_for('static', filename='img/close.png') }}" onClick="animateCardOut(1)" />
	</div>
<div id="signup-page" style="margin-top: 20px;padding:0px 10px;">
	<div class="text-wrapper">
	<form name="form2" method="post" action="{{ url_for('storeuser') }}">

		Please fill out the following details about yourself:<br />
		<small style="color: orange;">Required fields are marked orange.</small>

		<input name="user" pattern="[a-z][a-z]*" class="user" type="text" required placeholder="Username" />
		<input name="firstname" class="firstname" type="text" required placeholder="First Name" />
		<input name="lastname" class="lastname" type="text" required placeholder="Last Name"/>
		<input name="email" class="email" type="email" required placeholder="E-Mail" />
		<input type="text" id="country" name="country" readonly required placeholder="Country" style="width:400px!important;margin-bottom:10px!important;" />
		<input name="city" class="city" type="text" required placeholder="City" />
		<input name="company" class="organization" type="text" required placeholder="Organization"/>
		<input name="department" class="department" type="text" placeholder="Department"/>
		<input type=text name=learn-about placeholder="How did you learn about Opencast?" />
		<textarea rows=3 name=usage placeholder="How are you planning to use/using Opencast?"></textarea>

		<div class="field-space"style="margin-top:20px;">
			<div class="field-space-left"gt>
				<input type="checkbox" name="agreebox-term" class="agreebox" value=agree style="width: 20px; margin-top: 0px; border-left: 1px solid orange;" required />
			</div>
			<div class="field-space-right">
				I have read and agree to the <a href=/terms target=opencast-terms>Terms of Service</a> of the Opencast package repository.
			</div>
			<div style="clear:both;"></div>
		</div>

		<div class="field-space">
			<input type="submit" class="button" name="signupsubmit" value="Sign up">
		</div>

	</form>
</div>

</div>
</div>

</div>

</body>
</html>
