{% extends "layout.html" %}
{% block body %}

<div class="box main">
	<div class="login-view">
		<div class="text-wrapper">
			<a href="{{ url_for('home') }}">
				<h1>
					<img src="{{ url_for('static', filename='img/logo.png') }}" />
				</h1>
			</a>
			<form class="loginform" method="post" action="{{ url_for('home') }}">
				<input name="username" id="username" type="text" required="required" autofocus=autofocus  placeholder="Username" />
				<input name="password" id="password" type="password" required="required"  placeholder="Password"/>
				<input type="submit" class="button login-button" value="Login" />
				<div class="forgot">
					<a onClick="animateCard(0);">Forgot password?</a>
					<a onClick="animateCard(1);">Sign up now!</a>
				</div>
			</form>
		</div>
	</div>

</div>

{% include 'forgot.html' %}
{% include 'register.html' %}

{% endblock %}
