<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Matterhorn Binary RPM Repository</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>

<body>

<div class="header">
	{%if admin %}
	<div class='admintip'>Repository<a href="{{ url_for('admin') }}">Go to Admin view</a></div>
	{%endif%}
	<a href="{{ url_for('logout') }}" style="float: right;" class="switchview">Logout</a>
	<h1>
		<a href="{{ url_for('home') }}" class="headline">
			<img src="{{ url_for('static', filename='img/logo.png') }}" />
			Matterhorn Repo
		</a>
	</h1>

</div>

<div class="container login-container">

	<h3 class="repodescription">Table of contents</h3>
	<div class="repodescription">
		<ul style="margin-left: 30px;">
			<li><a href="#about">About</a></li>
			<li><a href="#installation">Installation</a></li>
			<li><a href="#testing">Testing repository</a></li>
			<li><a href="#sources">Sources</a></li>
			<li><a href="#troubleshooting">Troubleshooting</a></li>
		</ul>
	</div>

	<h3 class="repodescription"><a name="about">About</a></h3>
	<div class="repodescription">
		The following Linux distributions are currently supported:
		<p><small>Stable</small></p>
		<ul style="margin-left: 30px;">
			<li>CentOS 6.x, 7.x</li>
			<li>Scientific Linux 6.x, 7.x</li>
			<li>RedHat Enterprise Linux 6.x, 7.x</li>
			<li>Fedora 20 <small>(Testing only)</small></li>
		</ul>
	</div>

	<h3 class="repodescription"><a name="installation">Installation</a></h3>


	<div class="repodescription">
		A detailed description of the installation process can be found in the
		Matterhorn Release Wiki:
		<a style="margin-left:24px;"
			href="https://opencast.jira.com/wiki/display/MHTRUNK/Install"
			>https://opencast.jira.com/wiki/display/MHTRUNK/Install</a>
	</div>


	<h4 class="repodescription">In short:</h4>


	<div class="repodescription">CentOS/RHEL/Scientific Linux 6.x</a></div>
	<div class="repocontent">
		<pre>
# Add matterhorn repository.
cd /etc/yum.repos.d
curl -O http://repo.virtuos.uos.de/matterhorn.repo \
   -d os=el -d version=6 \
   -u [YOUR_USERNAME]:[YOUR_PASSWORD]

# Add epel repository.
yum install epel-release

# Install matterhorn with all it's dependencies.
yum install opencast-matterhorn15
		</pre>
	</div>


	<div class="repodescription">CentOS/RHEL/Scientific Linux 7.x</div>
	<div class="repocontent">
		<pre>
# Add matterhorn repository.
cd /etc/yum.repos.d
curl -O http://repo.virtuos.uos.de/matterhorn.repo \
   -d os=el -d version=7 \
   -u [YOUR_USERNAME]:[YOUR_PASSWORD]

# Add epel repository.
yum install epel-release

# Install matterhorn with all it's dependencies.
yum install opencast-matterhorn15
		</pre>
	</div>


	<div class="repodescription">Fedora</div>
	<div class="repocontent">
		<pre>
# Add matterhorn repository.
cd /etc/yum.repos.d
curl -O http://repo.virtuos.uos.de/matterhorn.repo \
   -d 'version=$releasever' -d os=fc \
   -u [YOUR_USERNAME]:[YOUR_PASSWORD]

# Add rpmfusion repository.
yum localinstall --nogpgcheck \
  http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm \
  http://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

# Install matterhorn with all it's dependencies.
yum install opencast-matterhorn15
		</pre>
	</div>


	<h3 class="repodescription"><a name="testing">Testing repository</a></h3>
	<div class="repodescription">
		If you want the newest updates and package build you can enable the
		Opencast Matterhorn Testing Repositories. However, the probability that
		something is not working right if you pull the RPMs from here is higher.
		So you should <i>not</i> use this for productive systems.
	</div>
	<div class="repodescription">
		To enable the testing repository first install the regular repositories
		and then follow these steps:
	</div>
	<div class="repodescription">CentOS/RHEL/Scientific Linux 6.x</div>
	<div class="repocontent">
		<pre>
# Add matterhorn repository.
cd /etc/yum.repos.d
curl -O http://repo.virtuos.uos.de/matterhorn-testing.repo \
   -d version=6 -d os=el \
   -u [YOUR_USERNAME]:[YOUR_PASSWORD]
		</pre>
	</div>
	<div class="repodescription">CentOS/RHEL/Scientific Linux 7.x</div>
	<div class="repocontent">
		<pre>
# Add matterhorn repository.
cd /etc/yum.repos.d
curl -O http://repo.virtuos.uos.de/matterhorn-testing.repo \
   -d version=7 -d os=el \
   -u [YOUR_USERNAME]:[YOUR_PASSWORD]
		</pre>
	</div>
	<div class="repodescription">Fedora</div>
	<div class="repocontent">
		<pre>
# Add matterhorn repository.
cd /etc/yum.repos.d
curl -O http://repo.virtuos.uos.de/matterhorn-testing.repo \
   -d 'version=$releasever' -d os=fc \
   -u [YOUR_USERNAME]:[YOUR_PASSWORD]
		</pre>
	</div>


	<h3 class="repodescription"><a name="sources">Sources</a></h3>
	<div class="repodescription">
		If you want to build your own RPM repository you can get the source RPMs from
		<a href="http://repo.virtuos.uos.de/srpms/">http://repo.virtuos.uos.de/srpms/</a>.
		Additional documentation and the SPEC files can be found at
		<a href="https://github.com/lkiesow/matterhorn-rpms">https://github.com/lkiesow/matterhorn-rpms</a>.
	</div>

	<h3 class="repodescription"><a name="troubleshooting">Troubleshooting</a></h3>

	<div class="repodescription">
		If you encounter any trouble during the installation process check if all
		repositories are installed and enabled properly. Some distributions for
		example come with a preinstalled but disabled epel repository. The
		installation of the epel-release package will <em>not</em> fix this.
	</div>
	<div class="repodescription">
		You can check what repositories are installed and enabled by executing
		<span style="font-family: monospace;">yum repolist enabled</span> which
		should give you a list with epel, matterhorn and matterhorn-noarch in it.
	</div>
	<div class="repodescription">
		If epel was preinstalled but disabled on your system, you can obviously
		skip the installation of the epel-release package, although an installation
		will not harm your system. You just need to enable the system by editing the
		configuration file <span style="font-family: monospace">/etc/yum.repo.d/epel.repo</span>
		and set the property <span style="font-family: monospace">enabled</span> to 1.
	</div>
	<div class="repodescription">
		If you get errors that Matterhorn dependencies are missing, make sure
		that you are actually running an OS with x86_64 architecture. There is no
		repository for other architectures.
	</div>

</div>
</body>

</html>
