{% extends "layout.html" %}
{% block body %}

<div class="box main">
	<div class="text-wrapper">
		<a href="{{ url_for('home') }}">
			<img src="{{ url_for('static', filename='img/logo.png') }}" />
		</a>
		<p style="margin-top: 30px; text-align: center;">{{ message }}</p>
		<p style="margin-top: 30px;"><a href="{{ url_for('home') }}" 
			onclick="window.history.back(); return false;" style="width: 100%; text-align: center;"
			class="button">Go back</a></p>
	</div>
</div>
{% endblock %}
