<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Terms of Service</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
</head>

<body>

<div class="box" style="min-width: 500px;">
	<div class="text-wrapper">
		<a href="{{ url_for('home') }}">
			<h1>
				<img src="{{ url_for('static', filename='img/logo.png') }}" />
			</h1>
		</a>

		<div id="terms-page" style="margin-top: 20px;">
			<h1>Terms of Service</h1>

			<p> Welcome to the Opencast Linux repository. By using this repository
			you are agreeing to these terms. Please read them carefully.

			<p>
			The use of this repository is for personal or educational use only.
			You are not allowed to use this repository for any commercial use.

			<p> You need an account to use this repository. You may use your
			account to set up the provided binary software on several servers of
			the institution that you provided with your registration. You are not
			allowed to use your account at other institutions. If you are working
			for several institutions, please apply for additional accounts.

			<p> We take the right to delete your user account without any further
			notice and without reason.

			<p> Each registration of a new account will be manually checked. We
			take the right to refuse registrations without providing a reason.

			<p> The software in this repository is free and open software. Please
			check the individual license of each software that use are using to
			ensure that you are allowed to use it in the intended way. We make no
			warranty or representation about the suitability of the information
			contained in the documents or the software provided, for any purpose.
			All documents, information and software products are provided "as is"
			without warranty of any kind, either express or implied, including but
			not limited to, all implied warranties and conditions as to
			merchantability, fitness for a particular purpose, title and
			non-infringement.

			<p> We take the freedom to delete software from the repository, update
			software to newer versions and discontinue to provide software from
			this repository without further notice.

			<p> With these terms, you accept that we are logging your access to
			the repository and which files have been downloaded.

			<p> With these terms, you allow us to contact you on Opencast related
			issues, like conferences and new releases and to publish your
			institution including the country on Opencast websites.

		</div>

	</div>
</div>
</body>

</html>
